In [ ]:
import pandas as pd 
pd.read_csv('data.csv')

In [ ]:
vs=pd.read_csv('data.csv')
vs['Date']=pd.to_datetime(vs['Date'])
vs

In [ ]:
ab=vs[vs['Narration'].str.contains('50200020158995',na=False)]

In [ ]:
ab

In [ ]:
vs.sort_values(by=['Date'])

In [ ]:
vs['Date']=pd.to_datetime(vs['Date'])

In [ ]:
vs

In [ ]:
vs.sort_values(by=['Date'])

In [ ]:
by=vs.loc[(vs['Date'].dt.month==6)]
by

In [ ]:
vs.loc[:,'Withdrawal Amt.']

In [ ]:
import pandas as pd
vs=pd.read_csv('data.csv')

In [ ]:
vs['Narration']

In [ ]:
hb=vs.Narration.str.extract(r'\-(.+?)\-')
hb

In [ ]:
hb.head(0)
vs.head(0)

In [ ]:
for data in vs['Date']:
    print(data)

In [ ]:
imps=vs[vs['Narration'].str.contains('IMPS',na=False)]

In [ ]:
imps

In [ ]:
num_imps=imps.Narration.str.extract(r'\-(.+?)\-')
num_imps

In [ ]:
neft=vs[vs['Narration'].str.contains('NEFT',na=False)]
neft

In [ ]:
num_neft=neft.Narration.str.extract(r'(?:.*DR-)(.+?)\-')
#expand=False).str.strip()

In [ ]:
num_neft

In [ ]:
tpt=vs[vs['Narration'].str.contains('TPT',na=False)]
tpt

In [ ]:
num_tpt=tpt.Narration.str.extract(r'(.+?)\-')
num_tpt

In [ ]:
rtgs=vs[vs['Narration'].str.contains('RTGS',na=False)]
rtgs

In [ ]:
num_rtgs=rtgs.Narration.str.extract(r'(?:.*MUM-)(.+?)\-')
num_rtgs

In [ ]:
nk=num_rtgs.values.tolist()

In [ ]:
nk

In [ ]:
for i in nk:
    print(type(i))

In [ ]:
nk

In [ ]:
newlist=[]
for i in nk:
    for j in i:
        newlist.append(j)
newlist

In [ ]:
newlist1=[*set(newlist)]

In [ ]:
newlist1

In [ ]:
cleanedList = [x for x in newlist1 if str(x) != 'nan']

In [ ]:
cleanedList

In [ ]:
rtgs_list=cleanedList

In [ ]:
rtgs_list

In [ ]:
kl=num_imps.values.tolist()

In [ ]:
kl

In [ ]:
h7=[]
for i in kl:
    for j in i:
        h7.append(j)
print(h7)

In [ ]:
cl=[*set(h7)]
cl

In [ ]:
print(cl)

In [ ]:
imps_list=cl

In [ ]:
imps_list

In [ ]:
h5=num_neft.values.tolist()
h5

In [ ]:
lj=[]
for i in h5:
    for j in i:
        lj.append(j)

In [ ]:
nj=[*set(lj)]

In [ ]:
print(nj)

In [ ]:
cb= [x for x in nj if str(x) != 'nan']

In [ ]:
print(cb)

In [ ]:
neft_list=cb

In [ ]:
neft_list

In [ ]:
df=num_tpt.values.tolist()

In [ ]:
jm=[]
for i in df:
    for j in i:
        jm.append(j)

In [ ]:
mj=[*set(jm)]

In [ ]:
print(mj)

In [ ]:
tpt_list=mj

In [ ]:
tpt_list

In [ ]:
all_unique_num=imps_list+tpt_list+rtgs_list+neft_list

In [ ]:
numbers=tpt_list+rtgs_list+neft_list
print(numbers)

In [ ]:
imps_numbers=['XXXXXX7655', 'XXXXXXXX7142', 'XXXXXXXXX2921', 'XXXXXXX4531', 'XXXXXXXXXXXX0633', 'XXXXXXXXXX8995', 'XXXXXXXXXXX0788', 'XXXXXXXXXXXX8837', 'XXXXXXX5479', 'XXXXXXXX1549', 'XXXXXXXXXX0717', 'XXXXXXXX0078', 'XXXXXXX7278', 'XXXXXXXXXXXX1346', 'XXXXXX3699', 'XXXXXXX9088', 'XXXXXXXX0874', 'XXXXXXXXXXX3836', 'XXXXXXXXXXX2732', 'XXXXXXXXXXX3389', 'XXXXXXX6206', 'XXXXXXXXXXXX1130', 'XXXXXXXX2258', 'XXXXXXXXXXX1435', 'XXXXXXXXXX2944', 'XXXXXX9251', 'XXXXXXXXXX6844', 'XXXXXXXXXXX0094', 'XXXXXXXX1856', 'XXXXXXXXXX0538', 'XXXXXXXXXX3765', 'XXXXXXXX4438', 'XXXXXXXX4908', 'XXXXXXXXXX0845', 'XXXXXXXXXX1056']
present_list=imps_numbers+numbers

In [ ]:
print(len(present_list))

In [27]:
import pandas as pd
import csv
df=pd.read_csv('data.csv', parse_dates=['Date'],dayfirst=True)
df

,Unnamed: 0,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,0,2022-05-13,IMPS-213318431529-RELIANCE RETAIL VENT-SCBL-XX...,13/05/22,NaN,1.0,202029.81
1,1,2022-05-16,50200020158995-TPT-PUFFER JACKET FABRIC-DAMAN ...,16/05/22,50000.0,NaN,152029.81
2,2,2022-05-17,50200020158995-TPT-JACKET-DAMAN TEXTILES,17/05/22,50000.0,NaN,102029.81
3,3,2022-05-23,"NEFT DR-KKBK0000181-SAMRENDRA SUMAN-NETBANK, M...",23/05/22,7500.0,NaN,94529.81
4,4,2022-05-23,02581460000717-TPT-DOCPLUS BALANCE 2.5K-MEHREE...,23/05/22,7500.0,NaN,87029.81
...,...,...,...,...,...,...,...
235,235,2022-11-18,IMPS-232214193375-ENVIRO FASHION PVT LTD-CNRB-...,18/11/22,86221.0,NaN,1638787.09
236,236,2022-11-18,IMPS-232219105333-MADAN TRAVELS-YESB-XXXXXXXXX...,18/11/22,14500.0,NaN,1624287.09
237,237,2022-11-18,IMPS-232221163534-KUNAL S BHANDARI-PUNB-XXXXXX...,18/11/22,10000.0,NaN,1614287.09
238,238,2022-11-19,NaN,19/11/22,25000.0,NaN,1589287.09
239,239,2022-11-22,IMPS-232612166651-RAJNEESH INTERNATIONAL-JAKA-...,22/11/22,100250.0,NaN,1489037.09

In [35]:
may_trs=df.loc[df['Date'].dt.month==5]
may_trs['Narration'].tail(1)

4    02581460000717-TPT-DOCPLUS BALANCE 2.5K-MEHREE...
Name: Narration, dtype: object

In [ ]:
import csv
list_to_append=[]
with open ('names.csv', 'a') as file:
    header=['Number','Name']
    thewriter=csv.writer(file)
    thewriter.writerow(header)
for num in present_list:
    this_data=df[df['Narration'].str.contains(num,na=False)]
    list_to_append.append(num)
    list_to_append.append(this_data['Narration'].head(1))

    with open ('names.csv', 'a') as file:
        thewriter=csv.writer(file)
        thewriter.writerow(list_to_append)
    list_to_append.clear()

In [ ]:
df[df['Narration'].str.contains('XXXXXX7655',na=False)]

In [ ]:

df[df['Narration'].str.contains('672320013765',na=False)]

In [ ]:


df[df['Narration'].str.contains('28457630000538',na=False)]
#df[df['Narration'].str.contains('HDFCR52022072885231415',na=False)]
#df[df['Narration'].str.contains('HDFCR52022061074668891',na=False)]
#df[df['Narration'].str.contains('50200054209114',na=False)]
#df[df['Narration'].str.contains('XXXXXXXX4438',na=False)]

In [ ]:
df[df['Narration'].str.contains('UTIB0004799',na=False)]
#df[df['Narration'].str.contains('UTIB0000055',na=False)]
#df[df['Narration'].str.contains('50200007517403',na=False)]
#df[df['Narration'].str.contains('UTIB0001104',na=False)]

In [ ]:
df[df['Narration'].str.contains('XXXXXXXX1549',na=False)]

In [ ]:
fn=pd.read_excel('FINAL_DATA.xlsx')
fn

In [ ]:
pooja=fn[fn['Name'].str.contains('POOJA',na=False)]
pooja

In [ ]:
df[df['Narration'].str.contains('POOJA',na=False)]

In [ ]:
df[df['Narration'].str.contains('RUIA FABRICS',na=False)]

In [ ]:
ruia_amount=0
ruia=df[df['Narration'].str.contains('RUIA FABRICS',na=False)]
for amount in ruia.loc[:,'Withdrawal Amt.']:
    ruia_amount+=amount
print(ruia_amount)

In [ ]:
df

In [ ]:
df['Withdrawal Amt.'].isna().sum()

In [ ]:
type(df['Withdrawal Amt.'])

In [ ]:
manish=df[df['Narration'].str.contains('MANISH KOTHARY',na=False)]

In [ ]:
manish['Withdrawal Amt.'].isna().sum()

In [4]:
df[df['Narration'].str.contains('SACHIN',na=False)]

,Unnamed: 0,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
7,7,06/06/22,"NEFT DR-PUNB0742100-SACHIN-NETBANK, MUM-N15722...",06/06/22,9000.0,NaN,58029.81
23,23,02/07/22,"NEFT DR-PUNB0742100-SACHIN-NETBANK, MUM-N18322...",02/07/22,30000.0,NaN,71375.81
44,44,29/07/22,"NEFT DR-PUNB0742100-SACHIN-NETBANK, MUM-N21022...",29/07/22,20000.0,NaN,1195801.07
48,48,31/07/22,IMPS-221222158551-SACHIN-PUNB-XXXXXXXXXXXX8837...,01/08/22,10000.0,NaN,1008098.07
94,94,31/08/22,"NEFT DR-PUNB0742100-SACHIN-NETBANK, MUM-N24322...",31/08/22,30000.0,NaN,696843.07
152,152,01/10/22,IMPS-227417146094-SACHIN-PUNB-XXXXXXXXXXXX8837...,01/10/22,30000.0,NaN,425876.57
209,209,02/11/22,"NEFT DR-PUNB0742100-SACHIN-NETBANK, MUM-N30622...",02/11/22,15000.0,NaN,904825.29

In [41]:
df.loc[df['Date'].dt.month==5]

,Unnamed: 0,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,0,2022-05-13,IMPS-213318431529-RELIANCE RETAIL VENT-SCBL-XX...,13/05/22,NaN,1.0,202029.81
1,1,2022-05-16,50200020158995-TPT-PUFFER JACKET FABRIC-DAMAN ...,16/05/22,50000.0,NaN,152029.81
2,2,2022-05-17,50200020158995-TPT-JACKET-DAMAN TEXTILES,17/05/22,50000.0,NaN,102029.81
3,3,2022-05-23,"NEFT DR-KKBK0000181-SAMRENDRA SUMAN-NETBANK, M...",23/05/22,7500.0,NaN,94529.81
4,4,2022-05-23,02581460000717-TPT-DOCPLUS BALANCE 2.5K-MEHREE...,23/05/22,7500.0,NaN,87029.81

In [56]:
list=['AAKRITI PACKAGING INDUSTRIES', 'ACCORD CORPORATION', 'A LITTLE FABLE ONLINE RETAIL PRIVATE LTD', 'A S TRADING CO', 'BHARDWAJ QUILTS', 'ENVIRO FASHION PVT LTD', 'FAIZ OVERSEAS', 'GAGAN KUMAR', 'GAP ASSOCIATES', 'INTEX INC', 'JAI MAA PACKAGING', 'JAINCO FABRICS', 'JEEVAGAN S', 'KUNAL S BHANDARI', 'LOKESH FOAMSALES', 'MADAN TRAVELS', 'MANISH KOTHARY', 'MANJESH KUMAR', 'MUNMUN GARMENTS', 'NARANG THREADS', 'NARULA ENTERPRISES', 'NEW FASHION', 'NISHANT MADAN', 'OM ENTERPRISES', 'POOJA BUTTON STORE', 'PRABHAKAR NARAIN', 'PRATEEK PAI 003101634438', 'RAJENDRAN RAGHAVAN', 'RAJNEESH INTERNATIONAL', 'RIYA JINDAL', 'RK ENTERPRISES', 'ROHIT PARASHAR', 'RUIA FABRICS', 'RV INTERNATIONAL', 'SACHIN', 'SANCHIT FASHION FABRICS', 'S D TRADING CO', 'SHARIKA VERMA', 'SK TOP TRADERS', 'USHA FABS PVT ','RELIANCE RETAIL VENT','DAMAN TEXTILES','SAMRENDRA SUMAN','MEHREEN SAYEED SHEMNA']

user=df[df['Narration'].str.contains('NISHANT MADAN',na=False)]
user

,Unnamed: 0,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
97,97,2022-09-01,"NEFT DR-SBIN0018174-NISHANT MADAN-NETBANK, MUM...",01/09/22,15000.0,NaN,651843.07
155,155,2022-10-03,IMPS-227623185594-NISHANT MADAN-SBIN-XXXXXXX90...,04/10/22,7500.0,NaN,403376.57
171,171,2022-10-12,IMPS-228514199095-NISHANT MADAN-SBIN-XXXXXXX90...,12/10/22,7500.0,NaN,606798.17